In [18]:
import datetime as dt
from datetime import timedelta

from airflow import DAG
from airflow.operators.bash import BashOperator
from airflow.operators.python import PythonOperator

import pandas as pd

In [19]:
# def csv_to_Json():
df = pd.read_csv('mydata.csv')
#df.head()

In [20]:
df.shape

(10000, 8)

In [25]:
df2 = df.iloc[:20,:]

In [26]:
df2.shape

(20, 8)

In [29]:
df2.head(20)

,name,age,street,city,state,zip,lng,lat
0,Thomas Smith,57,5769 Craig Dale,Gordonville,Wyoming,55597,126.443134,87.615083
1,Sylvia Lowe,49,1848 Nelson Expressway Suite 035,South Nicole,Hawaii,50843,-175.480502,-48.998452
2,Mr. Shawn Padilla,98,2893 Curry Skyway,New Natalieburgh,Pennsylvania,59160,84.871543,76.334587
3,Kayla Harris,57,500 Tyler Locks Suite 828,South Teresa,Louisiana,11194,25.081619,9.346303
4,Robert Greene,49,2495 Brown Mount Suite 339,Smithport,New Hampshire,92454,166.542557,38.009555
5,Kyle Macias,57,7295 Joe Ferry Suite 209,New Meredith,Georgia,51155,-16.369037,-57.664842
6,Daniel Wilson,37,455 Kim Landing Apt. 031,Port Russell,Vermont,73424,-53.037309,67.962897
7,Jennifer Pitts,66,4623 Tate Pines,New Ericville,New York,95976,131.008706,82.594855
8,Richard Fisher,74,2110 Suzanne Burgs,North Karen,Tennessee,14509,154.166347,74.221706
9,Brian Rodriguez,92,128 Jackson Tunnel,North Latoya,Florida,16415,10.871678,-5.078489
10,Katelyn Benjamin,47,7918 Stanley Cliff,West Patrick,Michigan,79611,142.127734,-15.517248
11,Michelle Bell,100,17354 Christopher Centers Apt. 751,South Traceymouth,South Carolina,76936,144.832798,11.259717
12,Thomas Bolton,56,50580 Daniel Squares,South Philipmouth,Georgia,34362,121.585103,-67.864075
13,Jason Gilmore,30,32257 Kimberly Haven Suite 345,Heidibury,Kansas,68642,-106.214134,-17.468967
14,Calvin Hernandez,85,109 Natalie Track Apt. 530,North John,New York,571,-81.125386,89.659491
15,Christopher Page,18,29562 Seth Heights Suite 068,South Rebecca,Washington,63893,-128.575395,-69.283636
16,Mackenzie Greene,68,4641 Cheryl Junction,Lake Williamborough,Minnesota,69633,148.130110,81.205169
17,Jennifer Phelps,29,7264 Perry Corner Suite 240,Darrylburgh,North Dakota,6830,-128.696489,-48.818155
18,Paula Mccoy MD,32,8126 Randall Crescent,Michaelmouth,Alabama,86927,-170.693828,-86.821602
19,Charles Parker,47,8275 Jacobs Isle Suite 212,South Kathrynfort,South Carolina,96308,-65.038533,-15.452694

In [28]:
df2.to_csv('newnifi.csv', index=False)

In [ ]:
def CsvToJson():
    for i,r in df2.iterrows():
        print(r['name'])
    df2.to_json('fromairflow.json', orient='records')

In [ ]:
default_args = {
    'owner': 'horlad',
    'start_date':dt.datetime(2022,5,22),
    'retries':1,
    'retry_delay':dt.datetime(minutes=2),
}

In [ ]:
with DAG('myairflowdag',
         default_args = default_args,
         schedule_interval =dt.datetime(minutes=2),
         
) as dag:
print_starting = BashOperator(task_id = 'starting',
                                 bash_command='echo "I am reading the CSV now..."')
CSVJson = PythonOperator(task_id='convertCSVtoJson',python_callable=CsvToJson)

print_starting >> CSVJson

In [ ]:
df5 = pd.read_json('fromairflow.json')
df