In [1]:
import pandas as pd
import random

In [2]:
from faker import Faker
import csv
import json

In [ ]:
output = open('mycsv.csv', mode='w')

In [ ]:
mywriter = csv.writer(output)

In [ ]:
header = ['name', 'age']
mywriter.writerow(header)

In [ ]:
data = ['bob smith', 40]
mywriter.writerow(data)
output.close()

In [ ]:
df = pd.read_csv('mycsv.csv')

In [ ]:
df.head()

In [ ]:
from faker import Faker

In [ ]:
data2 = open('mydata.csv', mode='w')

In [ ]:
mywriter = csv.writer(data2)

In [ ]:
header = ['name', 'age', 'street','city', 'state', 'zip', 
         'lng', 'lat']

In [ ]:
fake = Faker()

In [ ]:
mywriter.writerow(header)

In [ ]:
for r in range(10000):
    mywriter.writerow([fake.name(),fake.random_int(max=100,min=18, step=1), fake.street_address(),fake.city(), fake.state(),fake.zipcode(),
                      fake.longitude(), fake.latitude()])
    output.close()

In [ ]:
df2 = pd.read_csv('mydata.csv')
df2.head(10)

In [ ]:
df2.shape

In [ ]:
df2.info()

In [ ]:
df2.describe()

In [ ]:
df2['zip'] = df2['zip'].values.astype(str)

In [ ]:
df2.info()

In [ ]:
with open('mydata.csv') as f:
    mireader = csv.DictReader(f)
    header = next(mireader)
    for row in mireader:
        print(row['name'])

In [ ]:
print(header)

In [ ]:
data = {'name': ['BOb', 'Mark', 'John'], 'Age': [12,24,48]}

In [ ]:
df3 = pd.DataFrame(data)

In [ ]:
df3.head()

In [ ]:
df3.to_csv('mydataframe.csv', index=False)

In [ ]:
import json

In [3]:
output = open('newjson.json', mode='w')
fake = Faker()

In [9]:
# def generate_data(n=100):
#     customer = {}
#     for n in range(0, 100):
#         customer[n] = {}
#         customer[n]['id'] = fake.random_int(max=100, min=1, step=1)
#         customer[n]['city'] = fake.city()
#         with open('newjson.json', 'w') as fp:
#             json.dump(customer, fp)
#             print('file has been created')

In [11]:
# This correctly generates our json file/
customer = {}
for n in range(0, 100):
    customer[n] = {}
    customer[n]['id'] = fake.random_int(max=100, min=1, step=1)
    customer[n]['city'] = fake.city()
    with open('newjson.json', 'w') as fp:
         json.dump(customer, fp)

In [17]:
# generate_data(5)

file has been created
file has been created
file has been created
file has been created
file has been created

In [ ]:
df3 = pd.read_json('oldjson.json')

In [12]:
with open('newjson.json', 'r') as f:
    data = json.load(f)
    print(data)

{'0': {'id': 73, 'city': 'West Patrick'}, '1': {'id': 40, 'city': 'Monicachester'}, '2': {'id': 3, 'city': 'Loritown'}, '3': {'id': 84, 'city': 'South Wayne'}, '4': {'id': 20, 'city': 'Silvaton'}, '5': {'id': 45, 'city': 'Stoneborough'}, '6': {'id': 62, 'city': 'Port Annette'}, '7': {'id': 32, 'city': 'Crystalfort'}, '8': {'id': 9, 'city': 'Michaelchester'}, '9': {'id': 38, 'city': 'East Angelatown'}, '10': {'id': 4, 'city': 'South Christopher'}, '11': {'id': 43, 'city': 'Noahshire'}, '12': {'id': 9, 'city': 'Porterview'}, '13': {'id': 51, 'city': 'Lake Lydia'}, '14': {'id': 34, 'city': 'Lake Joshua'}, '15': {'id': 73, 'city': 'North Julie'}, '16': {'id': 3, 'city': 'North Barbarahaven'}, '17': {'id': 96, 'city': 'Hunterville'}, '18': {'id': 21, 'city': 'Port Michaelchester'}, '19': {'id': 5, 'city': 'East Kimberlyhaven'}, '20': {'id': 70, 'city': 'Kevinton'}, '21': {'id': 18, 'city': 'Lindsayside'}, '22': {'id': 72, 'city': 'Seanland'}, '23': {'id': 72, 'city': 'East Shawnview'}, '24': {'id': 36, 'city': 'Jacquelinemouth'}, '25': {'id': 88, 'city': 'Stephenmouth'}, '26': {'id': 18, 'city': 'Josephville'}, '27': {'id': 15, 'city': 'Porterview'}, '28': {'id': 77, 'city': 'Birdside'}, '29': {'id': 48, 'city': 'Port Williamland'}, '30': {'id': 58, 'city': 'New Kendrashire'}, '31': {'id': 46, 'city': 'West Andrew'}, '32': {'id': 71, 'city': 'East Ashleybury'}, '33': {'id': 78, 'city': 'Port Stephenview'}, '34': {'id': 3, 'city': 'New Lisachester'}, '35': {'id': 2, 'city': 'South Jessica'}, '36': {'id': 51, 'city': 'Gonzalezland'}, '37': {'id': 91, 'city': 'Port Carl'}, '38': {'id': 73, 'city': 'South Josephside'}, '39': {'id': 92, 'city': 'Melissaburgh'}, '40': {'id': 73, 'city': 'West Paige'}, '41': {'id': 97, 'city': 'Carrfort'}, '42': {'id': 28, 'city': 'Paynemouth'}, '43': {'id': 86, 'city': 'Lake Lance'}, '44': {'id': 87, 'city': 'Smithhaven'}, '45': {'id': 79, 'city': 'Perryport'}, '46': {'id': 83, 'city': 'South Caitlinton'}, '47': {'id': 86, 'city': 'Port Patricia'}, '48': {'id': 1, 'city': 'Johnsonshire'}, '49': {'id': 67, 'city': 'Rubioport'}, '50': {'id': 44, 'city': 'Baxterhaven'}, '51': {'id': 63, 'city': 'Port Kenneth'}, '52': {'id': 56, 'city': 'Santiagofurt'}, '53': {'id': 8, 'city': 'South Jenniferton'}, '54': {'id': 80, 'city': 'West Scott'}, '55': {'id': 66, 'city': 'Garciaburgh'}, '56': {'id': 58, 'city': 'Brownton'}, '57': {'id': 94, 'city': 'Bradshawland'}, '58': {'id': 11, 'city': 'Huffland'}, '59': {'id': 39, 'city': 'Booneville'}, '60': {'id': 60, 'city': 'South Sean'}, '61': {'id': 83, 'city': 'Anthonyborough'}, '62': {'id': 34, 'city': 'Danielleborough'}, '63': {'id': 91, 'city': 'Harrisside'}, '64': {'id': 73, 'city': 'West Robert'}, '65': {'id': 61, 'city': 'East Melissa'}, '66': {'id': 86, 'city': 'Breannafort'}, '67': {'id': 59, 'city': 'Thomasburgh'}, '68': {'id': 98, 'city': 'Elizabethbury'}, '69': {'id': 78, 'city': 'Cindystad'}, '70': {'id': 82, 'city': 'Judithbury'}, '71': {'id': 64, 'city': 'Lake Sarah'}, '72': {'id': 2, 'city': 'Eileenland'}, '73': {'id': 84, 'city': 'Michaelaview'}, '74': {'id': 14, 'city': 'Lake Andre'}, '75': {'id': 10, 'city': 'Blanchardmouth'}, '76': {'id': 81, 'city': 'New Jacobmouth'}, '77': {'id': 62, 'city': 'Mayhaven'}, '78': {'id': 98, 'city': 'Lake Joe'}, '79': {'id': 21, 'city': 'Lake Mercedesstad'}, '80': {'id': 92, 'city': 'Landryhaven'}, '81': {'id': 98, 'city': 'North Carolside'}, '82': {'id': 43, 'city': 'Loritown'}, '83': {'id': 21, 'city': 'Port Joshua'}, '84': {'id': 46, 'city': 'East Loriport'}, '85': {'id': 24, 'city': 'Davisland'}, '86': {'id': 19, 'city': 'Ashleyport'}, '87': {'id': 17, 'city': 'Lake Kayla'}, '88': {'id': 66, 'city': 'South Lindsey'}, '89': {'id': 2, 'city': 'Martineztown'}, '90': {'id': 51, 'city': 'North Henry'}, '91': {'id': 77, 'city': 'Graychester'}, '92': {'id': 5, 'city': 'West Connieshire'}, '93': {'id': 51, 'city': 'East Brucemouth'}, '94': {'id': 13, 'city': 'South Edward'}, '95': {'id': 100, 'city': 'Randallton'}, '96': {'id': 19, 'city': 'Whiteport'}, '97': {'id': 54, 'city': 'Russobury'}, '98': {'id': 87, 'city': 'North Cesarberg'}, '99': {'id': 30, 'city': 'New Fernandostad'}}

In [ ]:
alldata ={}
alldata['records'] = []

In [ ]:
for x in range(1000):
    data = {'name':fake.name(), 'age':fake.random_int(max=100,min=18,step=1), 'street':fake.street_address(),
            'city':fake.city(), 'state':fake.state(), 'zip':fake.zipcode(), 
            'lng':float(fake.longitude()), 'lat':float(fake.latitude())}
    alldata['records'].append(data)

In [ ]:
print(alldata['records'])

In [ ]:
json.dump(alldata,output)

In [11]:
df3.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
id,35,33,79,66,47,88,72,50,50,2,...,84,43,69,60,40,44,43,4,32,26
city,Russellbury,Lake Lindabury,North Jamesberg,Guzmanmouth,Peterfort,Andrewbury,West Brianmouth,Pachecomouth,Harrisport,East Davidfort,...,Mcguireberg,Justinstad,South Stephanie,Marissaborough,Marshallshire,Port Cynthiaville,Allenburgh,Port Robert,South Sethberg,Heathertown

In [ ]:

import pandas.io.json as pd_json

In [ ]:
with open('myjson.json','r', encoding="utf8") as f:
    data = json.load(f)

In [ ]:
data = pd_json.loads(f.read())

In [ ]:
df6 = pd_json.json_normalize(pd_json.loads(f.read()), record_path ='records')